body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-container {
  position: relative;
  width: 320px;
  height: 320px;
}

.profile-pic-border {
  width: 100%;
  height: 100%;
  border: 6px solid #ff6a3d;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background-color: #fff;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.decor-circle {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.orange {
  width: 70px;
  height: 70px;
  background-color: #ff6a3d;
  top: 20px;
  left: -9px;
}

.yellow {
  width: 55px;
  height: 55px;
  background-color: #ffc46b;
  bottom: 30px;
  right: -17px;
}