* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c0c1d;
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 40px;
}

.about {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.image-box {
  position: relative;
  width: 300px;
  height: 300px;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid #ff6a3d;
  z-index: 2;
  position: relative;
}
.img {
  background-color: white;
  width: 300px;
  border-radius: 50%;
  border: 6px solid #f96d00;
  display: flex;
  justify-content: left;
  transform: scaleX(-1);
}

.circle-bg {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.circle-bg.orange {
  width: 70px;
  height: 70px;
  background-color: #ff6a3d;
  top: 20px;
  left: -9px;
}

.circle-bg.yellow {
  width: 55px;
  height: 55px;
  background-color: #ffc46b;
  bottom: 30px;
  right: -17px;
}

.content-box {
  max-width: 600px;
}

.tag-btn {
  background: transparent;
  border: 1px solid #ff6a3d;
  color: #ff6a3d;
  padding: 6px 14px;
  border-radius: 20px;
  margin-bottom: 20px;
  cursor: default;
}

.content-box h1 {
  font-size: 28px;
  margin-bottom: 20px;
  line-height: 1.4;
}

.content-box p {
  color: #aaa;
  margin-bottom: 20px;
}

.info-card {
  background-color: #151528;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.info-col p {
  margin-bottom: 10px;
  color: #eee;
}

.info-col span {
  color: #ff6a3d;
  font-weight: bold;
}

.btn-group {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.contact-btn,
.resume-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
  font-size: 15px;
}

.contact-btn {
  background-color: #ff6a3d;
  color: white;
}

.resume-btn {
  background: transparent;
  border: 1px solid #ff6a3d;
  color: #ff6a3d;
}